%s
<!-- #include tool-top gui/blocks/help-top.htm;image=blank;1; -->
<tr VALIGN='center' NAME=%s bgcolor="#dedede">
  <td colspan=1 width="2" bgcolor="#dedede">
  </td>
  <td>
    <font size='+2'>
      <b>
        %s
      </b>
    </font>
  </td>
</tr>
<tr>
  <td valign='top' width="2" bgcolor="#dedede">
  </td>
  <td>
    <font size='+1'>
      %s
    </font>
  </td>
</tr>
<tr>
  <td colspan=1 width="2" bgcolor="#dedede">
  </td>
  <td align='right'>
    %s
  </td>
</tr>
</tr>
</table>
<table>
%s
</table>

</font>
