<html>
<body link='$GetVar(HtmlLinkColour)' bgcolor='$GetVar(HtmlTableFirstcolColour)'>
  <font color='#003c78' size='4' face="$GetVar(HtmlFontName)">
  
<table border="0" style="border-collapse: collapse" width="100%" id="#tool" cellpadding="4" cellspacing="2" >
  <tr>
    <td colspan='2' >
      <zimg border="0" src="gui/images/src/ccdc_logo.png">
    </td>
  </tr>
</table>

<table>
  <tr>
      <td colspan=2>
On pressing OK, your cif file will be sent to the CCDC. After your structure has been processed in Cambridge, you will receive an e-mail with the CCDC Number of this structure.
        </td>
      <tr>
        <td width=150 valign='top'>
          <b>Contact Author:</b>
        </td>
        <td valign='top'>
          $spy.get_cif_item('_publ_contact_author_name')
        </td>
      </tr>
      <tr>
        <td width=150 valign='top'>
          <b>Address:</b>
        </td>
        <td valign='top'>
          $spy.get_cif_item('_publ_contact_author_address','',True)
        </td>
      </tr>
      <tr>
        <td width=150 valign='top'>
          <b>e-mail:</b>
        </td>
        <td valign='top'>
          $spy.get_cif_item('_publ_contact_author_email')
        </td>
      </tr>
      <tr>
        <td width=150 valign='top'>
          <b>Other Authors:</b>
        </td>
        <td valign='top'>
          $spy.get_cif_item('_publ_author_name')
        </td>
      </tr>
</table>

      <table>
<!-- #include cif gui\snippets\snippet-choose-file.htm;file_type=cif;var_base=snum.current_result;pop_name=ccdc;1; -->
  <!-- #include fcf gui\snippets\snippet-choose-file.htm;file_type=fcf;var_base=snum.current_result;pop_name=ccdc;1; -->
      </table>

<table border="0"  width="100%" id="#tool" >
<font size='3'>
  <tr width='100%'>
    <td colspan='5'>
       <input
         type="text"
         bgcolor="$GetVar(HtmlInputBgColour)"
         valign='center'
         width='100%'
         height="70"
         multiline='True'
         name="CCDC_HELP"
         value=""
        >
    </td>
  </tr>


  <tr width='100%'>
    <td>
<!-- #include tool-help-button gui\blocks\tool-help-button.htm;help_ext=CCDC_Deposition_Options;1; -->
    </td>     
     <td width=40% valign='center' >
       <input
         type="combo"
         bgcolor="$GetVar(HtmlInputBgColour)"
         valign='center'
         items='Request CSD Number;Publish as CSD Communications;'
         width='100%'
         height="22"
         name="CCDC_SUBMISSION_TYPE"
         value="$spy.GetParam(snum.ccdc.submission_type)"
         onchange="spy.SetParam(snum.ccdc.submission_type,html.GetValue(~name~))>>html.SetValue(ccdc.CCDC_HELP, spy.gui.get_help_item(html.GetValue(~name~)))"
        >
     </td>
     <td width=40%>
       <input
         type="text"
         bgcolor="$GetVar(HtmlInputBgColour)"
         valign='center'
         width='100%'
         height="22"
         name="CCDC_NOTE_TO_STAFF"
         value="$spy.GetParam(snum.ccdc.note_to_staff)"
         onchange="spy.SetParam(snum.ccdc.note_to_staff,html.GetValue(~name~))"
      >
     </td>
    <td width=13%>
      <input
        type="button"
        bgcolor="$GetVar(HtmlInputBgColour)"
        valign='center'
        width="60"
        height="22"
        onclick="html.EndModal(ccdc,1)"
        name="CCDC OK"
        value = "OK">
     </td>
    <td width=13%>
      <input
        type="button"
        bgcolor="$GetVar(HtmlInputBgColour)"
        valign='center'
        width="60"
        height="22"
        onclick="html.EndModal(ccdc,0)"
        name="CCDC CANCEL"
        value = "Cancel">
    </td>
  </tr>


</font>

  </table>

    </body>
  </font>
</html>

