body
  {
    tab-interval:36.0pt;
    text-justify-trim:punctuation;
  }

div.Content
  {
    width:800px;
    position:relative;
    left:0px;
    top:0px;
  }

div.Section1
  {	
    width:100%;
    float:left;
    page:Section1;
  }

div.Section2
  {
    width:100%;
    float:left;
    page:Section2;
  }

div.Section3
  {
    width:100%;
    float:left;
    page:Section3;
  }

div.Title
  {
    position:relative;
    float:left;
    width:100%;
    height:50px;
    text-align:right;
    vertical-align:bottom;
    background:#DEDEDE;
  }

div.Submission
  {
    float:left;
    width:240px;
  }

div.Image
  {
    float:left;
    position:relative;
    top:0px;
    left:0px;
    width:560px;
  }

h1
  {
    margin-top:6.0pt;
    margin-right:6.0pt;
    margin-bottom:6.0pt;
    margin-left:0cm;
    text-autospace:none;
    font-weight:bold;
    font-family:Arial;
  }

p.normal, li.normal, div.normal
  {
    margin:0cm;
    margin-bottom:.0001pt;
    text-autospace:none;
    font-size:11.0pt;
    font-family:"Times New Roman";
  }

p.faint
  {
    color:gray;
  }

p.cifTableHeadline
  {	
    margin-top:21.0pt;
    margin-bottom:6.0pt;
    font-weight:bold;
  }

span.replaceThisChar
  {
    color:red;
    font-weight:bold;
  }

table.CifTable
  {
    color:#000000;
    font-family:"Times New Roman";
    margin-left:3em;
    margin-top:1em;
    margin-bottom:2em;
    border-collapse:collapse;
  }

table.CifTable td.data
  {
    font-family:"Times New Roman";
    width:3em;
    white-space:nowrap;
  }

table.CifTable td.decimal
  {
    tab-stops:decimal 6pt;
    text-align:".";
    text-align:right;
    font-size:11.0pt;
    font-family:"Courier";
    width:6em;
  }

table.CifTable td.decimalWide
  {
    tab-stops:decimal 10pt;
    text-align:".";
    text-align:right;
    font-size:11.0pt;
    font-family:"Courier";
    width:8em;
  }

table.CifTable th
  {
    font-weight:bold;
    text-align:center;
  }

table.CifTable caption
  {	
    margin-before:3em;
    text-align:left;
    caption-side:top;
    margin-left:-3em;
    margin-right:-20em;
    margin-top:1em;
    font-weight:bold;
  }

.cifTableFirst
  {font-weight:bold;}

.cifTableFooter
  {
    boder-top:solid;
    font-size:8.0pt;
    margin-top:1.0pt;
    margin-left:45.0pt;
    margin-bottom:1.0pt;
  }

/* Page Definitions */
@page Section1
  {
    size:595.3pt 841.9pt;
    margin:34.0pt 2.0cm 2.0cm 85.25pt;
  }
div.Section1
  {
    page:Section1;
  }
@page Section2
  {
    size:21cm 29.7cm;
    margin-top:2.54cm;
    margin-bottom:2.54cm;
    margin-left:3.17cm;
    margin-right:3.17cm;
  }
div.Section2
  {
    page:Section2;
  }
@page Section3
  {
    size:595.3pt 841.9pt;
    margin:34.0pt 2.0cm 2.0cm 79.4pt;
  }
div.Section3
  {
    page:Section3;
  }