$run(Focus)
<font color=$spy.GetParam(gui.html.font_colour)  size=$spy.GetParam(gui.html.font_size) face="$spy.GetParam(gui.html.font_name)">
<html>
  <body link='$spy.GetParam(gui.html.link_colour)' bgcolor='$spy.GetParam(gui.html.highlight_colour)'>
    <table border="0" style="border-collapse: collapse" width="100%" id="#tool" cellpadding="1" cellspacing="1" >
      <tr>
        <td>
        </td>
        <td>
          <font size='4'>
            You are in <b><i>mode</i></b>
          </font>
          <font size='4'>
            <b><MODENAME></b> <MODEQUALIFIERS><br>
          </font>
          <font size='3'>
             Press the <b>ESC</b> key to exit.
          </font>
        </td>
      </tr>
    </table>
  </body>
</html>

</font>


<!--
<zimg border="0" src="pop_background.png">
-->