
<div class="Section2">

<p class="journal_h2">
  Experimental
</p>

<p class="journal">
  Single crystals of %$xf.getFormula(html,2)%
  <span class=replaceThisChar>[%$spy.GetParam(snum.report.title)%]</span>
	were
  <span class=replaceThisChar>[%$spy.get_cif_item('_exptl_crystal_recrystallization_method')%]</span>.
  A suitable crystal was selected and
  <span class=replaceThisChar>[%$spy.get_cif_item(_olex2_exptl_crystal_mounting_method)%]</span>
  on a 
  <span class=replaceThisChar>%$spy.GetParam(snum.report.diffractometer)%</span>
  diffractometer. The crystal was kept at %27% K during data collection.
  Using Olex2 [1], the structure was solved with the
  %$spy.history.get(solution,program)%
  [2] structure solution program using
  %$spy.history.get(solution,method)%
  and refined with the 
  %$spy.history.get(refinement,program)%
  [3] refinement package using
  %$spy.history.get(refinement,method)%
  minimisation.</p>

<ol class="journal_reference">
	<li>%$GetVar(olex2_reference_long)%</li>
	<li>%$GetVar(solution_reference_long)%</li>
	<li>%$GetVar(refinement_reference_long)%</li>
</ol>


<p class="journal_h2">
  Crystal structure determination of
  <span class="replaceThisChar">[%$spy.GetParam(snum.report.title)%]</span>
</p>

<p class="journal">
<b>Crystal Data</b>
for %$xf.getFormula('html')% (<i>M&nbsp;</i>=%3% g/mol):
%1%, space group %$sg(%%h)% (no. %75%),
 %$spy.getCellHTML()%
<i>V&nbsp;</i>= %11%&nbsp;&Aring;<sup>3</sup>,
<i>Z</i>&nbsp;= %16%,
<i>T</i>&nbsp;= %27%&nbsp;K,
&#956;(%$spy.report.makeSpecialCifCharacter('\%76\%')%)&nbsp;= %19% mm<sup>-1</sup>,
<i>Dcalc</i>&nbsp;= %17%&nbsp;g/cm<sup>3</sup>,
%29% reflections measured (%61%&deg; &le; 2&Theta; &le; %62%&deg;),
%37% unique (<i>R</i><sub>int</sub> = %38%, R<sub>sigma</sub> = %78%) which were used in all calculations.
The final <i>R</i><sub>1</sub> was %_refine_ls_R_factor_gt%
(%$spy.report.makeSpecialCifCharacter('\%_reflns_threshold_expression\%')%) and <i>wR</i><sub>2</sub> was %54% (all data).
</p>
<p>

<p class="journal_h2">
  Refinement model description
</p>
<p class="journal">Number of restraints - %_refine_ls_number_restraints%,
number of constraints - %$spy.report.handleNA('\%_refine_ls_number_constraints\%','unknown')%.
</p>
<p class="journal_noident">Details:</p>
<pre class="journal">%$spy.report.makeSpecialCifCharacter('\%_olex2_refinement_description,<br/>\%')%</pre>

<p>
<font size=1>This report has been created with Olex2, compiled on
 %$GetCompilationInfo()%. Please
 <a href="mailto:support@olex2.org?subject=Olex2%%20Report">let us know</a>
 if there are any errors or if you would like to have additional features.
 </font></p>

</div>
</body>
</html>
